html {
  height: 100%;
}
body {
  background-color: #FFDD76;
  height: 100%;
}

.container {
  height: 50%;
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);; /* IE 9 */
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  background: #ff5f00;
  color: #fff;
  font-size: 21px;
  border: 3px dashed #fff;
  box-shadow: 0 0 0 20px #ff5f00, 10px 5px 30px 20px rgba(10,10,0,.5);
  border-radius: 10px;
}

nav {
  background-color: #A81889;
}

.input-lg {
  margin-top: 200px;
}

.action-button
{
  margin: 15px auto;
  width: 33%;
  padding: 10px 40px;
  font-family: "Open Sans", sans;
  font-weight: 400;
  text-align: center;
  color: #FFF;
  background-color: #FFBF00;
  cursor: pointer;
}
