/*
http://paletton.com/#uid=50m0Q0kEELNlBNGrOMnLhuKLnnP
*/

html {
  height: 100%;
}
body {
  background-color: #FFDD76;
  height: 100%;
}

.container {
  height: 50%;
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);; /* IE 9 */
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  background: #ff5f00;
  color: #fff;
  font-size: 21px;
  border: 3px dashed #fff;
  box-shadow: 0 0 0 20px #ff5f00, 10px 5px 30px 20px rgba(10,10,0,.5);
  border-radius: 10px;
}

.logo {
  position: absolute;
  width: 100%;
  font-family: 'Gloria Hallelujah', cursive;
  color: #ff5f00;
  font-weight: 900;
  font-size: 8em;
  text-shadow: 1px 1px #000;
  text-align: center;
}

nav {
  background-color: #A81889;
}

.input-lg {
  margin-top: 200px;
}

.action-button
{
  margin: 15px auto;
  width: 50%;
  padding: 10px 40px;
  font-family: "Open Sans", sans;
  font-weight: 600;
  text-align: center;
  color: #FFF;
  background-color: #FFBF00;
  cursor: pointer;
}

.container > div {
  height: 100%;
}

.vert-center {
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.all-avatars {
  position: absolute;
  width: 100%;
  top: 10%;
}

.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
  height: 100px;
  width: auto;
}

.carousel-indicators {
  bottom: auto;
}

.carousel > .carousel-control {
  opacity: 1;
  background: #e60087;
}

.carousel > .carousel-control:hover {
  opacity: 1;
}

li.avatar-list-image {
  text-decoration: none;
  display: inline-block;
  transition: all .5s ease-in-out;
  border: 5px solid transparent;
  margin-left: 5px;
}

li.avatar-list-image.active-avatar {
  border-color: #FFBF00;
}

.avatar-list-image img {
  width: 25px;
}

li.avatar-list-image:nth-child(1) {
  margin-left: 0;
}