.myhero {
  width: 80%;
  height: 100%;
  margin: auto; }

.myhero > div {
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  /* IE 9 */
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%); }

span {
  position: relative;
  display: inline-block;
  width: 100%; }

.gate {
  display: inline-block;
  width: 100%;
  padding: 10px 0 10px 15px;
  font-family: "Open Sans", sans;
  font-weight: 400;
  color: #e60087;
  background: #efefef;
  border: 0;
  border-radius: 3px;
  outline: 0;
  text-indent: 155px;
  transition: all .3s ease-in-out;
  margin-bottom: 15px; }
  .gate::-webkit-input-placeholder {
    color: #efefef;
    text-indent: 0;
    font-weight: 300; }
  .gate + label {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    width: 155px;
    padding: 10px 15px;
    text-shadow: 0 1px 0 rgba(19, 74, 70, 0.4);
    background: #BE4700;
    transition: all .4s ease-in-out;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    transform-origin: left bottom;
    z-index: 99; }
    .gate + label:before, .gate + label:after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      border-radius: 3px;
      background: #e60087;
      transform-origin: left bottom;
      transition: all .4s ease-in-out;
      pointer-events: none;
      z-index: -1; }
    .gate + label:before {
      background: rgba(3, 36, 41, 0.2);
      z-index: -2;
      right: 20%; }

.flip:focus,
.flip:active {
  color: #e60087;
  text-indent: 0;
  background: #fff;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px; }
  .flip:focus::-webkit-input-placeholder,
  .flip:active::-webkit-input-placeholder {
    color: #aaa; }
  .flip:focus + label,
  .flip:active + label {
    transform: rotate(-66deg);
    border-radius: 3px; }
    .flip:focus + label:before,
    .flip:active + label:before {
      transform: rotate(10deg); }
