
.node {
    stroke: blue;
    fill: rgba(125, 125, 125, 1);
}

g.selected.node {
    fill: blue;
}

.node-text {
    text-anchor: middle;
}

g.selected .node-text {
    stroke: white;
}

body {
  overflow-y: hidden;
}